doctype 5
html
  head
    meta(charset='utf-8')
    title MyNetwork
    link(rel='stylesheet', href='/stylesheets/normalize.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/bootstrap-main.css', media='screen')
  body
    if hasMessages
      each message in messages
        .alert
          button(type="button", class="close", data-dismiss="alert") &times;
          strong= message.type
          = message.info
    block content