extends ../../../views/layout

block content
	.container
		.row
			.span6
				img(src="http://placehold.it/400x400", alt="#{username}'s Avatar")
			.span6
				h2 Hello, #{username}
				dl
					dt Email:
					dd= email